.moreProductsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    
}
.product{
    display: flex;
    padding: 20px;
    flex-direction: column;
    border: 1px solid gray;
    text-align: center;
    height:450px;
}
.product img{
    width: 90%;
    height: 50%;
    object-fit: cover;
}
.loadMoreProduct{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 10px;
}
button{
    padding: 5px;
    border: 1px solid gray;
    background: #c7bdbd;
    font-size: 20px;
    cursor: pointer;
}