.active {
  color: yellow;
  transition: 0.4s;
}
.inActive {
  color: rgb(255, 255, 255);
  transition: 0.4s;
}
.starRating {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  background: gray;
}
