.search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;   
}
.box{
    background: #c9c9c9;
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style: none;
    border: 1px solid;
}
.items{
    padding: 5px;
    border: 1px solid;

}
.items:hover{
    background: #999999;
    cursor: pointer;
}